.navbar {
    background-color: rgb(202, 140, 58);
}

.nav-item {
    font-size: 1.25rem;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
}

Body {
    background-color: burlywood;
}

.main-body {
    width: 85%;
    min-height: 68vh;
    margin: 2rem auto;
}

#panel-bienvenida {
    padding: 1rem;
    text-align: center;
}

.panel-front {
    padding: 1rem;
    text-align: center;
    gap: 1rem;
}

.panel-front img {
    border-radius: 1rem;
    max-width: 100%;
}

.panel-front .panel-text {
    align-self: center;
    font-size: x-large;
}

#page-footer {
    background-color: rgb(202, 140, 58);
    padding: 1.5rem;
}

#footer-content {
    width: 85%;
    margin: auto;
}

#footer-content img {
    max-width: 25%;
}

#footer-content p u {
    font-weight: bold;
    font-size: x-large;
}

.backToTop {
    bottom: 25px;
    right: 25px;
    position: fixed;
    color: rgb(136, 73, 48);
    cursor: pointer;
    font-size: 3rem;
}

.backToTop:hover {
    color: white;
}

.item-list {
    gap: 1rem;
}

.item-list .card-header a {
    font-weight: bold;
    color: black;
}

#circle-avatar {
    display: grid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffbd30;
    place-items: center;   
}

#circle-avatar span {
    font-size: 48px;
    font-weight: bold;
}

#redes-list {
    font-size: xx-large;
    gap: 0.25rem;
}

#redes-list i,
#links-interes p {
    cursor: pointer;
}

#links-interes p {
    font-size: large;
    font-weight: bold;
}

.desc-cerveza {
    font-size: x-large;
}